<div class="nav-scrollable @(collapseNavMenu ? "collapsed" : "")">
    <nav class="nav flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="school">School</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="staff">Staff</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="guardians">Guardians</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="students">Students</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="classes">Classes</NavLink>
        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    public void Toggle(bool collapse)
    {
        collapseNavMenu = collapse;
        StateHasChanged();
    }
}