

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable">
    <nav class="nav flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="">Home</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="addresses">Addresses</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="employees">Employees</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="guardians">Guardians</NavLink>
        </div>
    </nav>
</div>

<div class="content">
    
</div>
