@page "/students/create"
@using FcmsPortal.Models
@using FcmsPortal.Services
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject ISchoolDataService SchoolDataService

<PageTitle>Add New Student</PageTitle>

<div class="container">
    <h1>Add New Student</h1>

    <StudentForm Student="@newStudent"
                 SubmitButtonText="Create Student"
                 OnSubmit="CreateStudent"
                 OnCancel="CancelCreate" />
</div>

@code {
    private Student newStudent = new Student
        {
            Person = new Person
            {
                DateOfEnrollment = DateTime.Now,
                IsActive = true
            }
        };

    //private FcmsPortal.Models.School school;
    //private Guardian assotiatedguardian;
    
    protected override void OnInitialized()
    {
        // Check if a guardian ID was passed in the query string
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);

        if (int.TryParse(queryParams["guardianId"], out int guardianId))
        {
            var selectedGuardian = SchoolDataService.GetGuardianById(guardianId);
            if (selectedGuardian != null)
            {
                newStudent.GuardianId = selectedGuardian.Id;
                newStudent.Person.Addresses = selectedGuardian.Person.Addresses;
                newStudent.Person.StateOfOrigin = selectedGuardian.Person.StateOfOrigin;
                newStudent.Person.LgaOfOrigin = selectedGuardian.Person.LgaOfOrigin;
            }
        }
    }

    private void CreateStudent(Student student)
    {
        var createdStudent = SchoolDataService.AddStudent(student);
        var assotiatedguardian = SchoolDataService.GetGuardianById(student.GuardianId);
        FcmsPortal.LogicMethods.AddStudentToGuardianWards(assotiatedguardian, createdStudent);
        NavigationManager.NavigateTo("/students");
    }

    private void CancelCreate()
    {
        NavigationManager.NavigateTo("/students");
    }
}