@page "/students/create"
@using FcmsPortal.Models
@using FcmsPortal.Services
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject ISchoolDataService SchoolDataService

<PageTitle>Add New Student</PageTitle>

<div class="container">
    <h1>Add New Student</h1>

    <StudentForm Student="@newStudent"
                 SubmitButtonText="Create Student"
                 OnSubmit="CreateStudent"
                 OnCancel="CancelCreate" />
</div>

@code {
    private Student newStudent = new Student
    {
        Person = new Person
        {
            DateOfEnrollment = DateTime.Now,
            IsActive = true,
            Address = new Address()
        }
    };

    protected override void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);

        if (int.TryParse(queryParams["guardianId"], out int guardianId))
        {
            var selectedGuardian = SchoolDataService.GetGuardianById(guardianId);
            if (selectedGuardian != null)
            {
                newStudent.GuardianId = selectedGuardian.Id;
                newStudent.Person.LastName = selectedGuardian.Person.LastName;
                newStudent.Person.StateOfOrigin = selectedGuardian.Person.StateOfOrigin;
                newStudent.Person.LgaOfOrigin = selectedGuardian.Person.LgaOfOrigin;
                newStudent.Person.EmergencyContact = selectedGuardian.Person.PhoneNumber;

                if (selectedGuardian.Person.Address != null)
                {
                    newStudent.Person.Address = new Address
                    {
                        Street = selectedGuardian.Person.Address.Street,
                        City = selectedGuardian.Person.Address.City,
                        State = selectedGuardian.Person.Address.State,
                        PostalCode = selectedGuardian.Person.Address.PostalCode,
                        Country = selectedGuardian.Person.Address.Country
                    };
                }
            }
        }
    }

    private void CreateStudent(Student student)
    {
        var createdStudent = SchoolDataService.AddStudent(student);
        var associatedGuardian = SchoolDataService.GetGuardianById(student.GuardianId);

        if (associatedGuardian != null)
        {
            FcmsPortal.LogicMethods.AddStudentToGuardianWards(associatedGuardian, createdStudent);
        }

        NavigationManager.NavigateTo("/students");
    }


    private void CancelCreate()
    {
        NavigationManager.NavigateTo("/students");
    }
}