@page "/staff/create"
@using FcmsPortal.Models
@using FcmsPortalUI.Services
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject ISchoolDataService SchoolDataService

<h3>Create New Staff</h3>

<StaffForm Staff="@newStaff"
           SubmitButtonText="Create Staff"
           OnSubmit="CreateStaff"
           OnCancel="CancelCreate" />

@code {
    private Staff newStaff = new()
    {
        Person = new Person
        {
            IsActive = false,
            Address = new Address() 
        },
    };

    private void CreateStaff(Staff staff)
    {
        SchoolDataService.AddStaff(staff);
        NavigationManager.NavigateTo("/staff");
    }

    private void CancelCreate()
    {
        NavigationManager.NavigateTo("/staff");
    }
}