@inherits LayoutComponentBase
@layout FcmsPortalUI.Components.Layout.MainLayout

<div class="container-fluid py-3">
    <div class="row">
        <div class="col-lg-3 mb-3">
            <div class="card shadow-sm">
                <div class="card-header bg-white">
                    <h6 class="mb-0"><i class="fa fa-cog me-2"></i>Account Settings</h6>
                </div>
                <div class="card-body p-0">
                    <ManageNavMenu />
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card shadow-sm">
                <div class="card-body">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>
