@page "/guardians/create"
@using FcmsPortal.Models
@using FcmsPortalUI.Services
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject ISchoolDataService SchoolDataService

<PageTitle>Add New Guardian</PageTitle>

<div class="container">
    <h1>Add New Guardian</h1>

    <GuardianForm Guardian="@newGuardian"
                  SubmitButtonText="Create Guardian"
                  OnSubmit="CreateGuardian"
                  OnCancel="CancelCreate" />
</div>

@code {
    private Guardian newGuardian = new Guardian
    {
        Person = new Person
        {
            Address = new Address(),
            DateOfEnrollment = DateTime.Now,
            IsActive = false
        },
        RelationshipToStudent = default
    };

    private void CreateGuardian(Guardian guardian)
    {
        SchoolDataService.AddGuardian(guardian);
        NavigationManager.NavigateTo("/guardians");
    }

    private void CancelCreate()
    {
        NavigationManager.NavigateTo("/guardians");
    }
}