@if (Exception != null)
{
    <div class="alert alert-danger">
        <h4>An error occurred</h4>
        <p>@Exception.Message</p>
        @if (ShowDetails)
        {
            <p>@Exception.StackTrace</p>
        }
        <button class="btn btn-primary" @onclick="Recover">Ok</button>
    </div>
}

@code {
    [Parameter]
    public Exception? Exception { get; set; }

    [Parameter]
    public bool ShowDetails { get; set; } = false;

    [Parameter]
    public EventCallback OnRecover { get; set; }

    private async Task Recover()
    {
        await OnRecover.InvokeAsync();
    }
}