@using FcmsPortal.Models

@if (!string.IsNullOrEmpty(Person.ProfilePictureUrl))
{
    <img src="@Person.ProfilePictureUrl" class="rounded-circle me-2" style="width: 30px; height: 30px;" alt="Profile" />
}
else
{
    <div class="bg-secondary text-white d-flex align-items-center justify-content-center"
         style="width: 40px; height: 40px; border-radius: 50%;">
        @Util.GetInitials(Person)
    </div>
}

@code {
    [Parameter]
    public Person Person { get; set; }

}
