@using FcmsPortal.Models

<div class="bg-secondary text-white d-flex align-items-center justify-content-center"
     style="width: 40px; height: 40px; border-radius: 50%;">
    @(Person.FirstName[0])@(Person.LastName[0])
</div>


@code {
    [Parameter]
    public Person Person { get; set; }

}
