@page "/"
@inject ISchoolDataService SchoolDataService
@using FcmsPortal.Services
@using FcmsPortal.Models
@using FcmsPortal.Enums
@using FcmsPortalUI.Services
@rendermode InteractiveServer

<PageTitle>Schools</PageTitle>

<div class="container">
    <h1>Welcome <!-- @User --></h1>

    <div class="mb-3">
        <a href="/school/create" class="btn btn-primary">
            <i class="fa fa-plus"></i> Add New School
        </a>
    </div>
</div>

@code {
    /*private List<School> Schools { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Schools = await SchoolDataService.GetSchools();
    }*/
}
