@page "/"
@inject ISchoolDataService SchoolDataService
@inject NavigationManager NavigationManager
@using FcmsPortal.Services
@using FcmsPortal.Models
@using FcmsPortal.Enums

@rendermode InteractiveServer

<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2>Welcome</h2>
        
    </div>

</div>

@code {
    
    
}