@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<div class="container-fluid d-flex justify-content-center align-items-center"
     style="min-height: 60vh;">
    <div class="text-center">

        <div class="mb-3 text-success">
            <i class="fa fa-envelope-open-text fa-3x"></i>
        </div>

        <p class="fs-5 mb-2">
            Please check your email to reset your password.
        </p>
    </div>
</div>